body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  width: 30%;
  border: 1px black solid;
  border-radius: 40px;

  position: relative;
  left: 35%;
  margin-top: 50px;
}
